@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */
.primary-btn{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 20px 25px;
    font-weight: 600;
    border: none;
}
.primary-btn:hover{
    color: black;
    cursor: pointer;;
}

/* Header Section */
header{
    background-color: rgba(255, 144, 14, 0.10);
    max-height: 1322px;
}
.nav-container{
    padding-top: 50px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container h1{
    width: 50%;
    font-size: 3rem;
    font-weight: 700;
}
.nav-container ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-container ul>li{
    list-style: none;
}
.nav-container a{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Banner Section */
.banner-container{
    margin-top: 100px;
    max-width: 1440px;
    margin: 100px auto 0;
}
.banner-info{
    text-align: center;
}
.banner-info h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner-info p{
    color: #727272;
    width: 60%;
    margin: 32px auto;
}
.banner-img{
    margin: 50px 0;
    border-radius: 8px;
    width: 100%;
}


/* Features Section */
.features-container{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.features-img{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.features-img img{
    width: 100%;
}
.features-info{
    width: 50%;
}
.features-info h1{
    font-size: 3rem;
    font-weight: 700;
}
.features-info p{
    width: 90%;
    margin: 20px 0;
    color: #727272;
}
.silver{
    color: #727272;
}
.black{
    color: #131313;
}
.site-color{
    color: #FF900E;
}


/* Experience Section */
.experience-container{
    max-width: 1440px;
    margin: 0 auto 120px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 150px;
}
.experience-info, .experience-img{
    width: 50%;
}
.experience-img img{
    width: 100%;
}
.experience-info h1{
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.experience-info p{
    margin-top: 24px;
    color: #727272;
}
.experience-list{
    margin-top: 30px;
}
.list{
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}
.list h4{
    font-size: 1.25rem;
    font-weight: 600;
}
.experience-img{
    position: relative;
}
.ten{
    position: absolute;
    left: -90px;
    bottom: -70px;
    background-color: #FF900E;
    width: fit-content;
    border-radius: 8px;
    padding: 24px;
    color: white;
}
.ten h2{
    font-size: 4rem;
    font-weight: 700;
}
.ten p{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}


/* Some Facts Section */
.facts{
    max-width: 1440px;
    margin: 0 auto;
}
.facts h1{
    font-size: 3rem;
    font-weight: 700;
}
.facts p{
    color: #727272;
    margin-top: 24px;
}
.facts-container{
    margin-top: 100px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart{
    padding: 60px 35px 45px;
    border: 1px solid #FF900E;
    width: 240px;
    border-radius: 8px;
    text-align: center;
}
.cart h3{
    margin: 15px 0;
}
.cart p{
    margin: 0;
}


